section {
    padding: 20px 5%;
}

aside {
    flex: 1;
    background-color: #1D8A99;
    padding: 20px 5%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#core {
    flex: 2;
    background-color: #02111B;
    border: #1D8A99 10px solid;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
}

main {
    margin: 20px 20%;
    display: flex;
}

* {
    /*border-width: 1px;
    border-style: solid;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

button {
    padding: 5px 10px;
    margin: 10px 20px;
}

body {
    background-color: #02111B;
}

h1 {
    text-align: center;
    text-shadow: #FEFFEA 0px 0px 20px;
    font-size: 50px;
    color: #FEFFEA;
    margin: 100px 0px;
}

p, h2, h3 {
    color: #FEFFEA;
}

#choices, #scores {
    display: flex;
}

#choices-player1, #choices-player2, #scores-player1, #scores-player2{
    flex: 1;
}