section {
    padding: 20px 5%;
}

#section-one, #section-two, #section-three, #section-four {
    margin: 25px 0 50px 0;
}

aside {
    flex: 1;
    background-color: #1D8A99;
    padding: 20px 5%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#core {
    flex: 2;
    background-color: #02111B;
    border: 6px solid #1D8A99;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    padding: 20px 5%;
}

main {
    margin: 20px 20%;
    display: flex;
    height: auto;
}

* {
    /*border-width: 1px;
    border-style: solid;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

button {
    padding: 8px 12px 6px 12px;
    margin: 10px 20px;
    transition-duration: 0.15s;
    background-color: #02111B;
    color: #FEFFEA;
    border: 3px solid #1D8A99;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #1D8A99;
}

body {
    background-color: #02111B;
}

h1 {
    text-shadow: #FEFFEA 0px 0px 20px;
    font-size: 50px;
    color: #FEFFEA;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 75px;
}

p, h2, h3 {
    color: #FEFFEA;
}

#choices, #scores {
    display: flex;
}

#choices-player1, #choices-player2, #scores-player1, #scores-player2{
    flex: 1;
}

#section-five {
    border: 3px solid #1D8A99;
    border-radius: 25px;
    margin: 20px 5%;
}